<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf= "dish">
 
	
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish" >
  
 
   <h2>Comments</h2>
   <md-list >
    <md-list-item *ngFor="let comment of dish.comments">
     <p md-line>
     <span> {{comment.comment}} </span>
     </p>
	   <p md-line>
     <span> {{comment.rating}} </span><span>Stars</span>
    </p>
	<p md-line>
      <span> -- {{comment.author}} </span>
	  <span> {{comment.date | date}} </span>
    </p>

  </md-list-item> 
  
  <md-list-item *ngIf="commentForm.valid">
   <p md-line>
   <span> {{commentForm.value.comment}} </span>
   </p>
   <p md-line>
   <span> {{commentForm.value.rating}} </span><span>Stars</span>
  </p>
<p md-line>
    <span> -- {{commentForm.value.author}} </span>
  </p>

</md-list-item>  
  </md-list>

  <div>
  <!--  <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p> -->

    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <md-input-container class="full-width" dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}" >
        <input mdInput formControlName= "author" placeholder="Name" type="text" >
        <md-hint>
          <span [hidden]="!(formErrors.author)">
            {{formErrors.author}}</span>
        </md-hint>
      </md-input-container>
      <md-slider formControlName="rating" thumbLabel tickInterval="1" min="1" max="5" ></md-slider>
      <md-input-container class="full-width" dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}" >
        <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=10></textarea>
        <md-hint>
          <span [hidden]="!(formErrors.comment)">
            {{formErrors.comment}}</span>
        </md-hint>
      </md-input-container>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>

  </div>
  <div [hidden]="dish">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>

</div>
 